In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('adult.data.csv') #set working drive or file pathway correctly before usage

In [6]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
# How many people of each race are represented in this dataset?
df.value_counts('race')

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [8]:
# What is the average age of men?
df.loc[df.sex == "Male"]['age'].mean()

np.float64(39.43354749885268)

In [9]:
# What is the percentage of people who have a Bachelor's degree?
sum(df['education'] == 'Bachelors') / len(df.index) * 100

16.44605509658794

In [10]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
mask = (df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')
sum(df[mask]['salary'] == '>50K') / len(df[mask].index) * 100

46.535843011613935

In [11]:
# What percentage of people without advanced education make more than 50K?
sum(df[-mask]['salary'] == '>50K') / len(df[-mask].index) * 100

17.3713601914639

In [12]:
# What is the minimum number of hours a person works per week?
df['hours-per-week'].min()

np.int64(1)

In [13]:
# What percentage of people who work the minimum number of hours per week have a salary of more than 50K?
mask = df['hours-per-week'] == df['hours-per-week'].min()
sum(df[mask]['salary'] == '>50K') / len(df[mask].index) * 100

10.0

In [14]:
# What country has the highest percentage of people that earn >50K and what is that percentage?
mask = (df['salary'] == '>50K')
overall = df.value_counts('native-country').to_dict()
totals = df[mask].value_counts('native-country').to_dict()
proportions = {x: totals[x]/overall[x]*100 for x in totals}
max(proportions, key = proportions.get)

'Iran'

In [15]:
max(proportions.values())

41.86046511627907

In [16]:
# Identify the most popular occupation for those who earn >50K in India
mask = (df['native-country'] == 'India') & (df['salary'] == '>50K')
df[mask].value_counts('occupation').idxmax()

'Prof-specialty'

In [17]:
# Packaging the above into a single function for use with FreeCodeCamp test cases
def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv') #set working drive or file pathway correctly before usage

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df.value_counts('race')

    # What is the average age of men?
    average_age_men = df.loc[df.sex == "Male"]['age'].mean()

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = sum(df['education'] == 'Bachelors') / len(df.index) * 100

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?
    mask = (df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')
    
    # percentage with salary >50K
    higher_education_rich = sum(df[mask]['salary'] == '>50K') / len(df[mask].index) * 100
    lower_education_rich = sum(df[-mask]['salary'] == '>50K') / len(df[-mask].index) * 100

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    mask = df['hours-per-week'] == df['hours-per-week'].min()
    rich_percentage = sum(df[mask]['salary'] == '>50K') / len(df[mask].index) * 100

    # What country has the highest percentage of people that earn >50K?
    mask = (df['salary'] == '>50K')
    overall = df.value_counts('native-country').to_dict()
    totals = df[mask].value_counts('native-country').to_dict()
    proportions = {x: totals[x]/overall[x]*100 for x in totals}

    highest_earning_country = max(proportions, key = proportions.get)
    highest_earning_country_percentage = max(proportions.values())

    # Identify the most popular occupation for those who earn >50K in India.
    mask = (df['native-country'] == 'India') & (df['salary'] == '>50K')
    top_IN_occupation = df[mask].value_counts('occupation').idxmax()

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }